body{
  font-family: Montserrat;
}

#mynavbar {
  padding: 10px 0; /* Adjust as needed */
  background-color:black;
  font-weight: 400;
  font-size: large;
}

#mynavbar .navbar-brand{
  height: 69px;
  display: flex;
  animation: zoomInDown;
  animation-duration: 1750ms; 
}

#mynavbar .navbar-nav {
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content:center;
}

#mynavbar .navbar-nav .nav-item-portfolio {
  margin: 0 10px;
  animation: bounceInLeft;
  animation-duration: 1750ms;
}

#mynavbar .navbar-nav .nav-item-about {
  margin: 0 10px;
  animation: bounceInDown;
  animation-duration: 1750ms;
}

#mynavbar .navbar-nav .nav-item-contact {
  margin: 0 10px;
  animation: bounceInRight;
  animation-duration: 1750ms;
}

#mynavbar .navbar-nav .nav-link {
  color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 7px;

}

#mynavbar .navbar-nav .nav-link:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid transparent;
  border-radius: 7px;
  animation: pulse;
  animation-duration: 1s;
}

