body{
  font-family: Montserrat;
}

#mynavbar {
  padding: 10px 0; /* Adjust as needed */
  background-color:black;
  font-weight: 400;
  font-size: large;
}

#mynavbar .navbar-brand{
  height: 59px;
  display: flex;
  animation: bounceInDown;
  animation-duration: 1500ms; 
}

#mynavbar .navbar-nav {
  margin: auto;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

#mynavbar .navbar-nav .nav-item-portfolio {
  margin: 5px 10px;
  animation: bounceInDown;
  animation-duration: 1800ms;
}

#mynavbar .navbar-nav .nav-item-about {
  display: flex;
  margin: 0 10px;
  position: absolute;
  top: auto;
  right: 10px;
  animation: bounceInDown;
  animation-duration: 2100ms;
}

#mynavbar .navbar-nav .nav-link {
  color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 7px;
}

#mynavbar .navbar-nav .nav-link:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid transparent;
  border-radius: 7px;
  animation: pulse;
  animation-duration: 1s;
}

#linkedin img {
  width: 39px; 
  height: 39px; 
}

#background_image {
  background-image: url('assets/images/home-background.jpg');
  background-size:cover; 
  background-repeat: no-repeat;
  height: 100vh;
  animation: fadeIn;
  animation-duration: 2200ms;  
}

#home-screen-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items:center; /* Center vertically */
  height: 50vh;
}

#home-screen-text {
  text-align:center;
  color: white;
  text-shadow: #000;
}

h1{
  font-family: 'Montserrat Subrayada';
  font-size:45px;
  animation: fadeIn;
  animation-duration: 2500ms;
}

h2{
  animation: fadeIn;
  animation-duration: 2500ms;
}

#contact {
  color: white;
}

#myfooter {
  background-color: #000; 
  color: #fff; 
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;

}

#myfooter .footer_text {
  animation: bounceInLeft;
  animation-duration: 1700ms;

}